/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


* {
    box-sizing: border-box;
    color: #FFFFFF;
    margin: 0rem;
}
body {
    font-family: 'roboto';
    font-style: normal;
}
.wrapper {
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    height: 150vh;
}
li {
    list-style-type: none;;
}



@media (max-width: 1920px) {
    /* Style item start */

.title {
    font-family: 'roboto';
    font-style: normal;
    font-size: 5rem;
    line-height: 5.2rem;
    margin: 0rem;
    padding: 6rem;
    text-align: center;;
}
.items {
    max-width: 50rem;
    padding-left: 0rem;
    margin: 0 auto;
}

.item {
    margin-bottom: 1rem;
}
.item__input {
    visibility: hidden;
}
.item__label {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    line-height: 2.3rem;
    padding: 1rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    cursor: pointer;
}
.item__span {
    visibility: hidden;
    transition: 0.2s ease;
}
.item__img {
    /* opacity: 0; */
    width: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}

/* Actions start */

.items:hover  .item__span {
    visibility: visible;
}
.item:hover .item__span {
    transform: rotate(45deg);
}
.item:checked .item__span {
    transform: rotate(45deg);
}
.item__label:hover {
    background: rgb(53, 51, 51);
}
.item__input:checked ~ .item__img {
    /* opacity: 1; */
    width: auto;
    max-height: 100vh;
    overflow: visible;
    padding-top: 1rem;
}
.item__input:hover ~ .item__img {
    /* opacity: 1; */
    width: auto;
    max-height: 100vh;
    overflow: visible;
    padding: 0 auto;
    padding-top: 1rem;

}

/* Actions end */


/* Style item end */
}

