/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
         url('fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


* {
    box-sizing: border-box;
    color: #FFFFFF;
    margin: 0px;
}
.wrapper {
    font-family: 'roboto';
    font-style: normal;
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(37, 37, 37);
    height: 100vh;
}

/* Style item start */


.items {
    max-width: 600px;
    margin: 0 auto;
}
.items__title {
    font-family: 'roboto';
    font-style: normal;
    font-size: 70px;
    line-height: 75px;
    margin: 0px;
    padding: 100px;
    text-align: center;;
}
.items__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #FFFFFF;
    padding: 15px;
    cursor: pointer;
}
.item__label-title {
    font-size: 40px;
}
.item__label-ico {
    visibility: visible;
}
.item__input {
    visibility: hidden;
}
.item__text {
    display: none;
    padding: 15px;
    font-size: 25px;;
}

/* Actions start */


.item__input:checked + .item__text {
    display: block;
}



/* Actions end */


/* Style item end */

